<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!--favicon icon-->
  <link rel="icon" href="assets/logo.png" type="image/png" sizes="16x16">

  <!--title-->
  <title>Game of 11 - GO11</title>

  <!--build:css-->
  <link rel="stylesheet" href="assets/css/main.css">
  <link rel="stylesheet" href="assets/css/go11.css">
  <!-- endbuild -->
</head>

<body>

  <!--preloader start-->
  <div id="preloader">
    <div class="preloader-wrap">
      <img src="assets/logo.png" alt="logo" class="img-fluid" width="110" />
      <div class="preloader">
        <i>.</i>
        <i>.</i>
        <i>.</i>
      </div>
    </div>
  </div>
  <!--preloader end-->

  <!--build:js-->
  <script src="assets/js/vendors/jquery-3.5.1.min.js"></script>
  <script src="assets/js/vendors/popper.min.js"></script>
  <script src="assets/js/vendors/bootstrap.min.js"></script>
  <script src="assets/js/app.js"></script>
  <script type="text/javascript">
    $('.team_details_each').click(function(){
      $('#joinButton').prop('disabled', false);
      $(this).addClass('selected');
		});
  </script>
  <!--endbuild-->
</body>

</html>
